.btn-add {
    margin-bottom: 25px;
  }
   .btn-add a{
      background-color: rgb(24, 109, 81);
      text-decoration: none;
      cursor: pointer;
      padding: 15px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border-radius: 10px;
      border: 1px solid #000;
  }
  .list-add{
      white-space: nowrap;
  }
.list-add input {
    outline: none;
    margin: 10px 5px;
    border: none;
    padding:10px 8px;
    font-size: 16px;
    border: 1px solid #000;
}  
.list-add a,.list-add h6{
    background-color: rgb(24, 109, 81);
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #000;
    white-space: nowrap;

}
.list-add h6{
    width: max-content;
}